In [ ]:
import pandas as pd

In [2]:
df=pd.read_csv('movies_df.csv')

In [ ]:
# Let's see what our data looks like
df.head()

# üîç Day 3: Filtering & Grouping Fun!

Today we'll learn THREE super powers:
1. **Filtering** = Finding specific movies (like searching!)
2. **Grouping** = Organizing movies into categories
3. **Aggregation** = Calculating totals and averages

Let's become data detectives! üïµÔ∏è‚Äç‚ôÄÔ∏è

---
# Part 1: FILTERING üîç

**What is filtering?**
Think of it like using a sieve or strainer in the kitchen!
- You have mixed vegetables
- You want ONLY the carrots
- You filter out everything else

In pandas, we search for movies that match our criteria!

## Example 1: Simple Filter - Find Excellent Movies
Let's find movies with rating 8.0 or higher!

In [4]:
# Filter: Movies with rating >= 8.0
excellent_movies = df[df['vote_average'] >= 8.0]

print(f"Total excellent movies: {len(excellent_movies)}")
excellent_movies[['title', 'vote_average', 'release_date']].head(10)

Total excellent movies: 123

                     title  vote_average release_date
0                Inception         8.364   2010-07-15
1             Interstellar         8.417   2014-11-05
2          The Dark Knight         8.512   2008-07-16
6   Avengers: Infinity War         8.255   2018-04-25
7               Fight Club         8.438   1999-10-15
9             Pulp Fiction         8.488   1994-09-10
10            Forrest Gump         8.477   1994-06-23
13        Django Unchained         8.171   2012-12-25
14       Avengers: Endgame         8.263   2019-04-24
15              The Matrix         8.206   1999-03-30

## Example 2: Filter by Revenue - Blockbusters Only! üí∞
Let's find movies that made over 1 BILLION dollars!

In [5]:
# Filter: Billionaire movies!
blockbusters = df[df['revenue'] > 1000000000]

print(f"Movies that made over $1 Billion: {len(blockbusters)}")
blockbusters[['title', 'revenue', 'vote_average']].sort_values('revenue', ascending=False)

Movies that made over $1 Billion: 55

,title,revenue,vote_average
1791,TikTok Rizz Party,3000000000,10.000
3,Avatar,2923706026,7.573
14,Avengers: Endgame,2800000000,8.263
255,Avatar: The Way of Water,2320250281,7.654
16,Titanic,2264162353,7.900
55,Star Wars: The Force Awakens,2068223624,7.293
6,Avengers: Infinity War,2052415039,8.255
56,Spider-Man: No Way Home,1921847111,7.990
43,Jurassic World,1671537444,6.682
284,The Lion King,1663075401,7.100
4,The Avengers,1518815515,7.710
246,Furious 7,1515341399,7.238
385,Top Gun: Maverick,1488732821,8.260
299,Frozen II,1450026933,7.272
678,Barbie,1428545028,7.279
22,Avengers: Age of Ultron,1405403694,7.276
451,The Super Mario Bros. Movie,1355725263,7.775
26,Black Panther,1349926083,7.390
1784,O Neg√£o do Banheiro,1345089061,10.000
47,Harry Potter and the Deathly Hallows: Part 2,1341511219,8.105
126,Star Wars: The Last Jedi,1332698830,6.825
231,Jurassic World: Fallen Kingdom,1310466296,6.548
98,Frozen,1274219009,7.200
105,Beauty and the Beast,1266115964,6.967
176,Incredibles 2,1242805359,7.481
260,The Fate of the Furious,1236005118,6.887
25,Iron Man 3,1215577205,6.928
1812,Falling To Pieces,1200000000,10.000
247,Minions,1156730962,6.395
23,Captain America: Civil War,1155046416,7.400
147,Aquaman,1148528393,6.900
119,Skyfall,1142471295,7.227
1808,The Lord of the Rings: The Return of the King ...,1138585547,10.000
118,Spider-Man: Far From Home,1131927996,7.447
114,Captain Marvel,1131416446,6.843
369,Transformers: Dark of the Moon,1123794079,6.183
19,The Lord of the Rings: The Return of the King,1118888979,8.474
381,Transformers: Age of Extinction,1104054072,5.920
24,The Dark Knight Rises,1081041287,7.777
17,Joker,1074458282,8.168
300,Star Wars: The Rise of Skywalker,1074144248,6.365
296,Toy Story 4,1073394593,7.500
134,Toy Story 3,1066969703,7.792
106,Pirates of the Caribbean: Dead Man's Chest,1065659812,7.346
125,Rogue One: A Star Wars Story,1056057273,7.488
276,Aladdin,1054304000,7.114
144,Pirates of the Caribbean: On Stranger Tides,1045713802,6.538
474,Despicable Me 3,1031552585,6.451
191,Finding Dory,1028570889,7.042
143,Alice in Wonderland,1025467110,6.627
100,Zootopia,1023784195,7.748
69,The Hobbit: An Unexpected Journey,1021103568,7.339
1805,The Mason Witch Returns,1016000000,10.000
2,The Dark Knight,1004558444,8.512
653,Jurassic World Dominion,1001978080,6.787

## Example 3: Filter by Year - Old Movies üìΩÔ∏è
Let's find movies released before the year 2000!

In [6]:
# First, convert release_date to datetime format
df['release_date'] = pd.to_datetime(df['release_date'])

# Extract year for easier filtering
df['year'] = df['release_date'].dt.year

# Filter: Movies before 2000
old_movies = df[df['year'] < 2000]

print(f"Movies before 2000: {len(old_movies)}")
old_movies[['title', 'year', 'vote_average']].head(10)

Movies before 2000: 413

                 title    year  vote_average
7           Fight Club  1999.0         8.438
9         Pulp Fiction  1994.0         8.488
10        Forrest Gump  1994.0         8.477
15          The Matrix  1999.0         8.206
16             Titanic  1997.0         7.900
44               Se7en  1995.0         8.368
48           Star Wars  1977.0         8.204
52       The Godfather  1972.0         8.707
54  Back to the Future  1985.0         8.314
71           Toy Story  1995.0         7.971

## Example 4: Multiple Filters - SUPER SEARCH! üöÄ
What if we want movies that are:
- Excellent (rating >= 8.0) AND
- Made lots of money (revenue > 500 million) AND
- Recent (after 2010)

We use `&` (and) to combine conditions!

# Multiple conditions: Excellent + Rich + Recent

In [7]:
super_movies = df[
    (df['vote_average'] >= 8.0) & 
    (df['revenue'] > 500000000) & 
    (df['year'] > 2010)
]

print(f"Super movies (excellent + rich + recent): {len(super_movies)}")
super_movies[['title', 'vote_average', 'revenue', 'year']].sort_values('revenue', ascending=False)

Super movies (excellent + rich + recent): 22

,title,vote_average,revenue,year
1791,TikTok Rizz Party,10.000,3000000000,2024.0
14,Avengers: Endgame,8.263,2800000000,2019.0
6,Avengers: Infinity War,8.255,2052415039,2018.0
385,Top Gun: Maverick,8.260,1488732821,2022.0
1784,O Neg√£o do Banheiro,10.000,1345089061,2024.0
47,Harry Potter and the Deathly Hallows: Part 2,8.105,1341511219,2011.0
1812,Falling To Pieces,10.000,1200000000,2025.0
1808,The Lord of the Rings: The Return of the King ...,10.000,1138585547,2020.0
17,Joker,8.168,1074458282,2019.0
1799,Uncharted 4: A thief's End,9.000,1000000000,2016.0
1773,Squid Game 2,9.500,1000000000,2024.0
893,Oppenheimer,8.256,933700000,2023.0
1780,Vacancy,10.000,903400045,2018.0
695,Guardians of the Galaxy Vol. 3,8.023,845430302,2023.0
64,Coco,8.222,800526015,2017.0
1,Interstellar,8.417,701729206,2014.0
1793,Mi Pana Miguel: La Pel√≠cula,9.000,700000000,2020.0
1809,Superman : Shadow of Brother,10.000,690145518,2025.0
764,Spider-Man: Across the Spider-Verse,8.442,683241751,2023.0
1801,Uncharted 3: Drake's Deception,9.000,600000000,2011.0
1788,BOBI,9.000,520000000,2024.0
964,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,8.259,503063688,2020.0

### üéØ Practice: Try These Filters Yourself!

1. Find movies with runtime longer than 150 minutes
2. Find movies released in 2015
3. Find movies with vote_average exactly equal to 8.0

In [ ]:
# Your turn! Try the practice questions here

# 1. Long movies (runtime > 150)


# 2. Movies from 2015


# 3. Movies rated exactly 8.0

---
# Part 2: GROUPING üì¶

**What is grouping?**
Imagine you have a messy toy box with different types of toys mixed together.

Grouping is like:
- Putting all cars in one bucket
- Putting all dolls in another bucket
- Putting all blocks in another bucket

Then you can COUNT or MEASURE each bucket!

## Example 5: Group by Adult Content
Let's see how many movies are for adults vs not for adults

In [8]:
# Group by 'adult' column and count
df.groupby('adult').size()

adult
False    1811
True        2
dtype: int64

## Example 6: Group by Year
Let's count how many movies were released each year!

In [11]:
# Group by year and count
movies_per_year = df.groupby('year').size().sort_values(ascending=False)

print("Top 10 years with most movies:")
movies_per_year.head(10)

Top 10 years with most movies:

year
2016.0    81
2014.0    78
2017.0    74
2011.0    70
2013.0    69
2008.0    66
2012.0    66
2015.0    65
2019.0    64
2010.0    63
dtype: int64

## Example 7: Create Rating Categories First!
Let's make categories: Poor, Average, Good, Excellent

In [12]:
# Create rating categories
bins = [0, 5, 6, 7, 8, 10]
labels = ['Poor (0-5)', 'Below Avg (5-6)', 'Average (6-7)', 'Good (7-8)', 'Excellent (8-10)']

df['rating_category'] = pd.cut(df['vote_average'], bins=bins, labels=labels)

# Show first few rows
df[['title', 'vote_average', 'rating_category']].head(10)

                     title  vote_average   rating_category
0                Inception         8.364  Excellent (8-10)
1             Interstellar         8.417  Excellent (8-10)
2          The Dark Knight         8.512  Excellent (8-10)
3                   Avatar         7.573        Good (7-8)
4             The Avengers         7.710        Good (7-8)
5                 Deadpool         7.606        Good (7-8)
6   Avengers: Infinity War         8.255  Excellent (8-10)
7               Fight Club         8.438  Excellent (8-10)
8  Guardians of the Galaxy         7.906        Good (7-8)
9             Pulp Fiction         8.488  Excellent (8-10)

## Example 8: Group by Rating Category
Now let's count movies in each category!

In [13]:
# Count movies in each rating category
df.groupby('rating_category').size()

C:\Users\laiba\AppData\Local\Temp\ipykernel_4744\339327985.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('rating_category').size()

rating_category
Poor (0-5)           13
Below Avg (5-6)     258
Average (6-7)       860
Good (7-8)          567
Excellent (8-10)    115
dtype: int64

---
# Part 3: AGGREGATION üìä

**What is aggregation?**
After grouping, we want to CALCULATE things about each group:
- What's the AVERAGE?
- What's the TOTAL?
- What's the MAXIMUM?
- What's the MINIMUM?

It's like measuring each bucket after sorting!

## Example 9: Average Revenue by Category
Which category makes more money on average?

In [14]:
# Average revenue for each rating category
df.groupby('rating_category')['revenue'].mean().sort_values(ascending=False)

C:\Users\laiba\AppData\Local\Temp\ipykernel_4744\3431376312.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('rating_category')['revenue'].mean().sort_values(ascending=False)

rating_category
Excellent (8-10)    5.108259e+08
Good (7-8)          3.579225e+08
Average (6-7)       2.676649e+08
Below Avg (5-6)     2.127484e+08
Poor (0-5)          1.719119e+08
Name: revenue, dtype: float64

## Example 10: Average Runtime by Category
Are longer movies rated better?

In [15]:
# Average runtime (movie length) for each category
df.groupby('rating_category')['runtime'].mean()

C:\Users\laiba\AppData\Local\Temp\ipykernel_4744\2503019966.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('rating_category')['runtime'].mean()

rating_category
Poor (0-5)           87.000000
Below Avg (5-6)     105.046512
Average (6-7)       111.911628
Good (7-8)          124.978836
Excellent (8-10)    142.591304
Name: runtime, dtype: float64

## Example 11: Multiple Aggregations at Once! üéØ
Let's calculate EVERYTHING for each category in one go!

In [16]:
# Multiple aggregations: count, average revenue, average runtime, max revenue
summary = df.groupby('rating_category').agg({
    'title': 'count',           # How many movies?
    'revenue': ['mean', 'max'], # Average and highest revenue
    'runtime': 'mean'           # Average movie length
})

summary

C:\Users\laiba\AppData\Local\Temp\ipykernel_4744\48165440.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  summary = df.groupby('rating_category').agg({

                 title       revenue                 runtime
                 count          mean         max        mean
rating_category
Poor (0-5)          13  1.719119e+08   319713881   87.000000
Below Avg (5-6)    258  2.127484e+08  1104054072  105.046512
Average (6-7)      860  2.676649e+08  1671537444  111.911628
Good (7-8)         567  3.579225e+08  2923706026  124.978836
Excellent (8-10)   115  5.108259e+08  3000000000  142.591304

## Example 12: Find the Best in Each Category
Which movie has the highest revenue in each category?

In [17]:
# Find highest revenue movie in each category
highest_earners = df.loc[df.groupby('rating_category')['revenue'].idxmax()]
highest_earners[['rating_category', 'title', 'revenue', 'year']]

C:\Users\laiba\AppData\Local\Temp\ipykernel_4744\2003091238.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  highest_earners = df.loc[df.groupby('rating_category')['revenue'].idxmax()]

       rating_category                            title     revenue    year
912         Poor (0-5)               The Last Airbender   319713881  2010.0
381    Below Avg (5-6)  Transformers: Age of Extinction  1104054072  2014.0
43       Average (6-7)                   Jurassic World  1671537444  2015.0
3           Good (7-8)                           Avatar  2923706026  2009.0
1791  Excellent (8-10)                TikTok Rizz Party  3000000000  2024.0

---
# üéØ Final Practice Challenge!

Answer these questions using filtering, grouping, and aggregation:

1. **Filter:** How many movies were released in 2020?
2. **Filter:** Find movies with runtime between 90 and 120 minutes
3. **Group:** How many movies were released each decade? (1990s, 2000s, 2010s, 2020s)
4. **Aggregate:** What's the average revenue for movies in the 2010s vs 2020s?
5. **Super Challenge:** Find the top 5 highest-earning movies released after 2015

In [ ]:
# Question 1: Movies in 2020


# Question 2: Movies between 90-120 minutes


# Question 3: Movies per decade (hint: create a decade column first!)


# Question 4: Average revenue 2010s vs 2020s


# Question 5: Top 5 highest earners after 2015

---
# üìö Quick Reference Cheat Sheet

## Filtering
```python
df[df['column'] > value]              # Greater than
df[df['column'] == value]             # Equal to
df[df['column'] < value]              # Less than
df[(condition1) & (condition2)]       # AND
df[(condition1) | (condition2)]       # OR
```

## Grouping
```python
df.groupby('column').size()           # Count items in each group
df.groupby('column')['value'].mean()  # Average for each group
df.groupby('column')['value'].sum()   # Total for each group
df.groupby('column')['value'].max()   # Maximum for each group
```

## Aggregation
```python
df.groupby('column').agg({
    'col1': 'count',
    'col2': 'mean',
    'col3': ['min', 'max']
})
```

## Creating Categories
```python
pd.cut(df['column'], bins=[0, 5, 10], labels=['Low', 'High'])
```